.custom-progress-bar {
  opacity: 1; /* Initial opacity */
  transition: opacity 0.7s ease-out; /* Smooth transition for opacity */
}

.custom-progress-bar.hidden {
  opacity: 0; /* Hidden state with opacity 0 */
}
