/* .chat-container {
	height: 100vh;
	width: 100vw;
	z-index: 2000;

	position: fixed;
	right: -31%;

	transition: height 1s ease, width 1s ease, right 1s ease;
}

.chat-container.open {
	height: 100vh;
	width: 100vw;
	z-index: 2000;

	position: fixed;
	right: 0;
} */

.chat-interaction {
	height: 100vh;
	width: 30%;
	z-index: 2000;

	position: fixed;
	right: -100%;

	background-color: white;
	border: 1px solid #ccc;

	transition: height 1s ease, width 1s ease, right 1s ease;
}

.chat-interaction.open {
	right: 0;
}

.chat-icon {
	height: 150px;
	width: 50px;
	z-index: 1990;

	position: absolute;
	right: 30%;
	bottom: 40px;

	cursor: pointer;

	background-color: green;
	color: white;
	padding: 10px;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

	display: flex;
	align-items: center;
	justify-content: center;

	transition: height 1.5s ease 0.5s, width 1.5s ease 0.5s, right 1.5s ease 0.5s;
}

.chat-icon.close {
	width: 40px;

	right: 0;

	display: flex;
	align-items: center;
	justify-content: left;

	transition: height 0.4s ease, width 0.4s ease, right 0.4s ease;
}
